<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/d7a11292629061.5e4fccf14a69e.jpg);">
  </div>


<div class="container mt-5">

  <h2>All our cocktails</h2>
  <div class="cocktailcontainer">
    <% @cocktails.each do |cocktail| %>
      <div class="cocktail" id="cocktailall"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "https://source.unsplash.com/random?sig=#{rand(1..1000)}&?cocktail" %>)">
        <h2><%= cocktail.name %></h2>
        <%= link_to "", cocktail_path(cocktail), class: "card-remove-link" %>
  </div>
    <% end %>
</div>
