<div class="container mt-5">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient, collection: Ingredient.all.order(name: :asc), include_blank: false  %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
