.navbar-lewagon {
  justify-content: center;
  background: white;
  border-bottom: 2px solid #F4F4F4;
  transition: background-color 0.5s ease
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h2.logo-title {
  font-size: 40px;
  color: black;
  font-family: 'ivymode', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  padding: 8px;
  &:hover {
    color: #DEDDDE;
  }
  transition:.6s ease;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  &:hover {
    color: #DEDDDE;
  }
  transition:.6s ease;
}

.sticky-top {
  position: sticky;
}
